@{
    ViewBag.Title = "Home Page";
}

<div>
    @using (Html.BeginForm("GenerateImages", "Home", FormMethod.Post,
        new { enctype = "multipart/form-data" }))
    {
        <br />
        <div id="multiple">
            <input type="file" name="files" multiple />
        </div>
        <br />
        <div>
            <textarea rows="10" cols="80" name="json">
            @MvcHtmlString.Create(
            Html.Encode("[" + Environment.NewLine + 
            "   {  " + Environment.NewLine +
            "      \"FolderPath\":{  " + Environment.NewLine +
            "         \"Path\":\"iOS\"" + Environment.NewLine +
            "      }," + Environment.NewLine +
            "      \"ImageFormat\":\"Png\"," + Environment.NewLine +
            "      \"ImageName\":{  " + Environment.NewLine +
            "         \"Prefix\":null," + Environment.NewLine +
            "         \"Suffix\":\"@3x\"" + Environment.NewLine +
            "      }," + Environment.NewLine +
            "      \"ImageDimensions\":{  " + Environment.NewLine +
            "         \"Resolution\":\"0, 0\"," + Environment.NewLine +
            "         \"Percentage\":0.75" + Environment.NewLine +
            "      }," + Environment.NewLine +
            "      \"OverwriteFile\":false" + Environment.NewLine +
            "   }," + Environment.NewLine +
            "   {  " + Environment.NewLine +
            "      \"FolderPath\":{  " + Environment.NewLine +
            "         \"Path\":\"iOS\"" + Environment.NewLine +
            "      }," + Environment.NewLine +
            "      \"ImageFormat\":\"Png\"," + Environment.NewLine +
            "      \"ImageName\":{  " + Environment.NewLine +
            "         \"Prefix\":null," + Environment.NewLine +
            "         \"Suffix\":\"@2x\"" + Environment.NewLine +
            "      }," + Environment.NewLine +
            "      \"ImageDimensions\":{  " + Environment.NewLine +
            "         \"Resolution\":\"0, 0\"," + Environment.NewLine +
            "         \"Percentage\":0.5" + Environment.NewLine +
            "      }," + Environment.NewLine +
            "      \"OverwriteFile\":false" + Environment.NewLine +
            "   }," + Environment.NewLine +
            "   {  " + Environment.NewLine +
            "      \"FolderPath\":{  " + Environment.NewLine +
            "         \"Path\":\"iOS\"" + Environment.NewLine +
            "      }," + Environment.NewLine +
            "      \"ImageFormat\":\"Png\"," + Environment.NewLine +
            "      \"ImageName\":null," + Environment.NewLine +
            "      \"ImageDimensions\":{  " + Environment.NewLine +
            "         \"Resolution\":\"0, 0\"," + Environment.NewLine +
            "         \"Percentage\":0.25" + Environment.NewLine +
            "      }," + Environment.NewLine +
            "      \"OverwriteFile\":false" + Environment.NewLine +
            "   }," + Environment.NewLine +
            "   {  " + Environment.NewLine +
            "      \"FolderPath\":{  " + Environment.NewLine +
            "         \"Path\":\"Android\\\\xxxhdpi\"" + Environment.NewLine +
            "      }," + Environment.NewLine +
            "      \"ImageFormat\":\"Png\"," + Environment.NewLine +
            "      \"ImageName\":null," + Environment.NewLine +
            "      \"ImageDimensions\":{  " + Environment.NewLine +
            "         \"Resolution\":\"0, 0\"," + Environment.NewLine +
            "         \"Percentage\":1" + Environment.NewLine +
            "      }," + Environment.NewLine +
            "      \"OverwriteFile\":false" + Environment.NewLine +
            "   }," + Environment.NewLine +
            "   {  " + Environment.NewLine +
            "      \"FolderPath\":{  " + Environment.NewLine +
            "         \"Path\":\"Android\\\\xxhdpi\"" + Environment.NewLine +
            "      }," + Environment.NewLine +
            "      \"ImageFormat\":\"Png\"," + Environment.NewLine +
            "      \"ImageName\":null," + Environment.NewLine +
            "      \"ImageDimensions\":{  " + Environment.NewLine +
            "         \"Resolution\":\"0, 0\"," + Environment.NewLine +
            "         \"Percentage\":0.75" + Environment.NewLine +
            "      }," + Environment.NewLine +
            "      \"OverwriteFile\":false" + Environment.NewLine +
            "   }," + Environment.NewLine +
            "   {  " + Environment.NewLine +
            "      \"FolderPath\":{  " + Environment.NewLine +
            "         \"Path\":\"Android\\\\xhdpi\"" + Environment.NewLine +
            "      }," + Environment.NewLine +
            "      \"ImageFormat\":\"Png\"," + Environment.NewLine +
            "      \"ImageName\":null," + Environment.NewLine +
            "      \"ImageDimensions\":{  " + Environment.NewLine +
            "         \"Resolution\":\"0, 0\"," + Environment.NewLine +
            "         \"Percentage\":0.5" + Environment.NewLine +
            "      }," + Environment.NewLine +
            "      \"OverwriteFile\":false" + Environment.NewLine +
            "   }," + Environment.NewLine +
            "   {  " + Environment.NewLine +
            "      \"FolderPath\":{  " + Environment.NewLine +
            "         \"Path\":\"Android\\\\hdpi\"" + Environment.NewLine +
            "      }," + Environment.NewLine +
            "      \"ImageFormat\":\"Png\"," + Environment.NewLine +
            "      \"ImageName\":null," + Environment.NewLine +
            "      \"ImageDimensions\":{  " + Environment.NewLine +
            "         \"Resolution\":\"0, 0\"," + Environment.NewLine +
            "         \"Percentage\":0.375" + Environment.NewLine +
            "      }," + Environment.NewLine +
            "      \"OverwriteFile\":false" + Environment.NewLine +
            "   }," + Environment.NewLine +
            "   {  " + Environment.NewLine +
            "      \"FolderPath\":{  " + Environment.NewLine +
            "         \"Path\":\"Android\\\\mdpi\"" + Environment.NewLine +
            "      }," + Environment.NewLine +
            "      \"ImageFormat\":\"Png\"," + Environment.NewLine +
            "      \"ImageName\":null," + Environment.NewLine +
            "      \"ImageDimensions\":{  " + Environment.NewLine +
            "         \"Resolution\":\"0, 0\"," + Environment.NewLine +
            "         \"Percentage\":0.25" + Environment.NewLine +
            "      }," + Environment.NewLine +
            "      \"OverwriteFile\":false" + Environment.NewLine +
            "   }," + Environment.NewLine +
            "   {  " + Environment.NewLine +
            "      \"FolderPath\":{  " + Environment.NewLine +
            "         \"Path\":\"Android\\\\ldpi\"" + Environment.NewLine +
            "      }," + Environment.NewLine +
            "      \"ImageFormat\":\"Png\"," + Environment.NewLine +
            "      \"ImageName\":null," + Environment.NewLine +
            "      \"ImageDimensions\":{  " + Environment.NewLine +
            "         \"Resolution\":\"0, 0\"," + Environment.NewLine +
            "         \"Percentage\":0.1875" + Environment.NewLine +
            "      }," + Environment.NewLine +
            "      \"OverwriteFile\":false" + Environment.NewLine +
            "   }" + Environment.NewLine +
            "]"))</textarea>
        </div>
        <br />
        <button style="cursor: default">Generar imágenes</button>
        <br /><br />
        <label>@Model</label>
    }
</div>
